* {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#sidebar {
	position: fixed;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid black;
}
#sidebar * {
	display: inline;
	width: 64px;
	height: 64px;
	padding: 4px;
	border: none;
	outline: none;
	margin: 0;
	background-clip: content-box;
}
#sidebar button {
	/* this is chrome's default button color. */
	background-color: rgb(221, 221, 221);
}
#sidebar button:hover {
	background-color: rgb(200, 200, 200);
}
svg {
	shape-rendering: auto;
}
#canvas {
	margin-left: 72px;
	outline: 2px solid black;
}
svg text {
	font-family: verdana;
	font-size: 12px;
	-webkit-user-select: none;
}
svg .node {
	r: 8;
	stroke-width: 2px;
}
svg > g > .node {
	fill: orange;
	stroke: darkorange;
}
svg > g g .node {
	fill: blue;
	stroke: darkblue;
}
svg line {
	stroke-width: 4px;
	stroke: black;
	pointer-events: none;
}
svg .no-event, svg .no-event * {
	opacity: 0.5;
	pointer-events: none;
}
svg .selected {
	fill: yellow !important;
}